html {
   background-color: #fff;
   background-image: url("../tile.png");
}

body {
   background-image: url("../bg.png");
   background-size: cover;
   border: 10px solid white;
   font-family: Arial, Helvetica, sans-serif;
   height: 600px;
   margin: 20px auto;
   max-width: 300px;   
   padding: 40px 100px;
}

header h1 {
   font-family: 'Island Moments', cursive;
   font-size: 48px;
   line-height: 2.3;
}

header h1 span {
   color: red;
}

main p {
   font-family: 'Fuzzy Bubbles', cursive;
   font-size: 18px;
   line-height: 1.6;
}

mark {
   background-color: transparent;
   text-transform: capitalize;
   text-shadow:1px 1px 1px pink;
   font-weight: bold;
   
}

footer {
   margin-top: 40px;
   margin-left: 50%;
}

footer p {
   margin: 0;
}

.date {
   margin-top: 10px;
}