/**
 * Header styles for Desert Tourism
 *
 * @author Tanya Musara
 *
 */

/* HEADER */
header .wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header {
   background-color: #ffe;
   border-bottom: 1px solid #CCCCCC;
   height: 150px;
   margin-bottom: 30px;
   padding: 20px 20px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

header nav li {
    margin: 0 5px;
}
/* ====== */