/* footer */
footer {
    background-color: var(--black);
    color: var(--white);
    margin-top: 3em;
}

footer .wrapper{
    display: flex;
    justify-content: space-between;
    padding: 2em 1em 4em 1em;
}

.contact p a {
    color: white;
    text-decoration: underline;
}

.contact p a:active {
    color: var(--white);
}

.contact p a::after {
    content: '|';
}

.contact p :last-child::after {
    content: none;
}


footer .newsletter input {
    margin-left: 5px;
    padding: 6px 12px;
}

footer .newsletter label {
    font-weight: 400;
}


/* Media queries */

@media (max-width:60em) {

     /* footer */
    footer .wrapper {
        display: block;
    }

   footer .newsletter {
        margin: 2em 0 0 0;
    }

    .contact p a {
        display: block;
    }

    .contact p a::after {
        content: none;
    }
    
}

/* ========== */