/**
 * Common styles
 *
 * @author Tanya Musara <tanya.musara@student.odisee.be>
 *
 */

:root {
    --black:#222222;
    --blue:#50A6D9;
    --green:#66BB44;
    --light-bleu:#D8F2FD;
    --white:#FFFFFF;
}

#banner {
    background-image: url(../img/header.jpg);
    background-size:cover;
    padding: 140px 0 60px 50%;
}

 
.banner_content h2, .banner_content p {
    color: var(--white);
}

.banner__content h2 {
    font-size: 2em;
}

.banner__content p {
    font-size: 1.8em;
}
 
main h2 {
    font-size: 1.8em;
    margin: 0.8em 0 0.5em 0;
}


.commitments {
    margin-top: 2em;
    padding-bottom: 4em;
}

.article {
    width: 30%;
}

.article p {
    margin: 5px 0;
    line-height: 2;
}

.article  img {
    height: 40%;
}

.article a::after {
    content: "►";
}
.article a {
    color: var(--blue);
    margin-top: 0.8em;
}
 
.commitments__articles :last-child {
    margin-right: 0;
}

.commitments__articles {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.stakeholders {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stakeholders div{
    width: 30%;
}

.stakeholders_members h4{
    font-size: 1.2em;
}

.stakeholders_members a {
    color: var(--blue);
}

.stakeholders_members a::after {
    content:"► ►";
}




.stakeholders iframe {
    width: 100%;
}

.stakeholders :last-child {
    margin-right: 0;
}

.report {
    background-color: var(--light-bleu);
    border: 1px solid var(--blue);
    padding: 1em;
 
}

.report p a {
    color: var(--blue);
    text-decoration: underline;
}

.report h5 {
    font-size: 1.2em;
}

/* Media Queries */

/* 600px */
@media (max-width:37.5em) { 
    /* commitment articles */
    .commitments__articles {
        flex-direction: column;
        padding: 0 1.5em;
    }

    .stakeholders {
        flex-direction: column;
        padding: 0 1.5em;
    }
    .stakeholders div{
        margin-top: 1em;
        width: 100%;
    }

    .article {
        width: 100%;
        margin-top: 1.5em;
    }

    .article  img {
        height: 40%;
        width: 100%;
    }

}

@media (min-width:37.5em) {
    .commitments {
        padding: 0 1em;
    }

    .stakeholders {
        padding: 0 1em;
    }
}

@media (max-width:52.7em) {
    /* banner */
    #banner {
        padding: 140px 0 60px 15%;
    }

}