/**
 *
 * Common styles
 *
 * @author Tanya Musara
 *
 */

/* ===========================================
   General
   =========================================== */

/* html, body and general element styles here */
html {
   background-color:#dfdfdf;
}

body {
   background-color:#fcfcfc;
   border-radius:5px 5px 0 0;
   font-family: Roboto, sans-serif;
   font-size: 13px;
   line-height: 1.8;
}

p {
   text-align: justify;
}
/* ... */


/* ===========================================
   Menu
   =========================================== */

/* menu styles here */

nav ul {
   display: flex;
   list-style: none;
}

nav li a {
   color: #000;
   padding: 4px 8px;
   margin-left:20px;
   text-decoration: none;
   transition:background-color 0.3s;
   
}

li a:hover {
   background-color: #b52025;
}

nav ul li .active {
   background-color:  #b52025;
   padding: 4px 8px;
   transition: background-colour 0.3s;
}

.active:hover {
   background-color: #d46669;
}

.more a {
   border:  #b52025 1px solid;
   border-radius: 3px;
   color:  #b52025;
   padding: 4px 8px;
   transition: border 0.3s;
}

.more a:hover {
   border: #d46669 solid 1px;
   text-decoration: none;
}

.more a::after {
   content:"»";
}

#email {
   background-color:#fdeaeb;
}

input[type=submit] {
   background-color:  #b52025;
   color: #dfdfdf;
}

input[type=submit]:hover {
   background-color:  #db777a;
   text-decoration: underline;
}
/* ... */



/* ===========================================
   Banner
   =========================================== */

/* banner styles here */
#banner {
   background-image: url("../img/home_section_thumb3.jpg");
   background-size: 100% 100%; 
   border: #b52025 4px solid;
   box-shadow: 10px 5px 5px #dfdfdf;
   color: rgb(255, 255, 255);
  
}
#banner p {
   background-color: hsla(211, 15%, 31%, 0.38);
}
/* ... */



/* ===========================================
   Main
   =========================================== */

/* main styles here */
section p {
   text-align: justify;
}

h3 {
   font-weight: 700;
   text-transform: capitalize;
}

a {
   text-decoration: none;
} 

a:hover {
   text-decoration: underline;
   color: #000;
}

#content {
   justify-content: space-between;
}

#content h3 {
   color: #B52025;
}

#content h3::after {
   content:"→";
}

img {
   border: #dfdfdf 2px solid;
}
/* ... */


/* ===========================================
   Footer
   =========================================== */

/* footer styles here */
footer {
   background:linear-gradient( #dfdfdf,  #d7d1d1);
   transition: background-color 0.3s ease;
}

footer:hover{
   background:linear-gradient( #d7d1d1, #c9bbbb,);
}

footer p {
   text-align: center;
}
/* ... */
