#menu1 {
    font-family: 'Open Sans Condensed', sans-serif, Helvetica;
    list-style: none;
    padding: 1rem;
}

#menu1 a {
    background-color: rgb(0, 0, 0);
    color: #feffff;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0.5rem;
    padding: 0.7rem 0.5rem;
    transition: background-color 0.6s;
    text-decoration: none;
    text-transform: uppercase;
}

#menu1 a:hover {
    background-color: #74c593;
}


#menu1 .active a {
    background-color: #74c593;
}

#menu2 {
    background-color:#dd2e1c ;
    border-bottom: 1px solid #e37e73;
    list-style: none;
    padding: 2rem 1rem;
    display: flex;
}

#menu2 a {
    color: #eff5f5;
    font-family: 'Open Sans', sans-serif, Helvetica;
    font-weight: 400;
    letter-spacing: 1px;
    line-height:2;
    padding: 0 1rem;
    text-transform: uppercase;
    text-decoration: none;

}

#menu2 a:hover {
    text-decoration: underline;
}

#menu2 .active a {
    text-decoration: underline;
}

