/* ===========================================
   Main content
   =========================================== */

/* general */

main {
   background-color: #fff;
   padding-bottom: 50px;
}

main p {
   color: #666;
   line-height: 20px;

}