/* navigation */

#mainmenu {
   align-items: center;
   display: flex;
   list-style: none;
}

#mainmenu li {
   margin-left: 1em;
}

#mainmenu a {
   color: #000;
   font-size: 17px;
   text-transform: uppercase;
}

#mainmenu a:hover,
#mainmenu .active a {
   color: #14833b;
   text-decoration: none;
}